################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PhoneContact/obj
/PhoneContact/bin/Debug/net8.0
