html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.teal {
    background-color: rgb(80, 149, 115);
    color: #ffffff;
}

.white {
    color: #ffffff;
}

.back:hover {
    color: rgb(80, 149, 115);
}

.form {
    background-color: rgb(255, 255, 255)
}

.form-control, 
.input-group-text {
    height: 3rem;
    background: #ecf0f4;
    border-color: transparent;
    font-size: 1rem;
}

.form-control::placeholder {
    color: #6c757d;
}

.form-select {
    color: #6c757d;
    background-color: #ecf0f4;
    border-color: transparent;
}

table ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}